<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div  class="col-sm-3 text-right">
                  <h2>Intro</h2>
                  <div class="text-muted"><p>What I am all about</p></div>
                </div>
                <div class="col-sm-8 col-sm-offset-1 text-muted">
                  <p>
                    I'm Dhyey Patel, orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <br>
                  <br>
                  <span href="#" class="transparent_btn blue">Blog</span>
                  <span href="#" class="transparent_btn blue">My Work</span>
                  <span href="#" class="transparent_btn blue">Hire Me!</span>
                </div>
            </div>
        </div>
    </section>
